/** body */
html, body, #app {height: 100%;}

/** container */
.container{height:100%;background: #f0f0f0;overflow-y:hidden;display: flex;flex-direction: column;}

/** grid */
.grid-container{flex:1;}
.grid-container .el-table{border:0;}

/** select organ */
.select-organ-popper{padding:0 6px;}
.select-organ-popper .el-select-dropdown__list{padding:6px;}
.select-organ-popper .el-select-dropdown__item{padding:4px;height: 200px !important;min-width: 260px;overflow-y: scroll !important;background: #fff !important;}
.select-organ-popper .organ-filter{width:100%;}

/** highlight js */
.hljs{font-family:Consolas;font-size:12px;background:white;}

/** nprogress bar */
#nprogress .bar {
	height:4px;
	background-color: #67c23a;
	background-size: 3em 3em !important;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent) !important;
}
@-webkit-keyframes process-bar-animation { 
	0% { background-position: 0 0; }
	100% { background-position: 3em 0; }
}
@-moz-keyframes process-bar-animation { 
	0% { background-position: 0 0; }
	100% { background-position: 3em 0; }
}
@keyframes process-bar-animation { 
	0% { background-position: 0 0; }
	100% { background-position: 3em 0; }
}