/** panel */
.panel {margin: 4px;margin-top:0;background: white;padding: 0 4px;display:flex;flex-direction: column;}
.panel:first-child{margin-top:4px;}
.panel-header {height: 24px;border-bottom: 1px solid #dadada;position: relative;}
.panel-title {position: absolute;top: 0;left: 0;width: 90%;height: 24px;line-height: 24px;padding: 0 4px;color: #333;z-index: 1;overflow: hidden;white-space: nowrap;word-break: keep-all;text-overflow: ellipsis;font-size: 12px;font-weight:bold;}
.panel-title i {margin-right: 6px;}
.panel-title i.include-delete{padding:0 4px;cursor:pointer;}
.panel-btns {position: absolute;right: 4px;height:24px;line-height:24px;z-index: 2;}
.panel-body {padding: 0;}

/** data panel */
.data-panel{flex:1;}
.data-panel .panel-body{height:100%;display:flex;flex-direction: column;}

/** search */
.search{display:flex;padding:3px 0;border-bottom:1px solid #eaeaea;}
.search:last-child{border-bottom:0}
.search>*{display:inline-block;}
.search>label{font-size:12px;flex-basis:72px;height:22px;line-height:22px;text-align:right;vertical-align: middle;padding:0 4px;color:#666;}
.search>span{flex-basis:120px;}